@import url('vendor/normalize-css/normalize.css');
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);
@import url('styles/preview.css');
@import url('styles/cover.css');
@import url('styles/title.css');
@import url('styles/chapter.css');
@import url('styles/content.css');

* {
  font-family: 'Alegreya', serif;
  line-height: 1.15;
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 2cm;
  background: white;

  @bottom-center {
    content: counter(page);
  }
}

.legal {
  columns: 2;
  font-size: small;
}
