/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

$page_margin: 1cm;

@import "node_modules/normalize.css/normalize";

@font-face {
  font-family: "Andada SC";
  src: url("fonts/AndadaSC-Regular.otf");
}

@font-face {
  font-family: "Andada SC";
  font-weight: bold;
  src: url("fonts/AndadaSC-Bold.otf");
}

@font-face {
  font-family: "Andada SC";
  font-style: italic;
  src: url("fonts/AndadaSC-Italic.otf");
}

@font-face {
  font-family: "Andada SC";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/AndadaSC-BoldItalic.otf");
}

@font-face {
  font-family: "Andada";
  src: url("fonts/Andada-Regular.otf");
}

@font-face {
  font-family: "Andada";
  font-weight: bold;
  src: url("fonts/Andada-Bold.otf");
}

@font-face {
  font-family: "Andada";
  font-style: italic;
  src: url("fonts/Andada-Italic.otf");
}

@font-face {
  font-family: "Andada";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Andada-BoldItalic.otf");
}

* {
  box-sizing: border-box;
}

@page {
  size: A4;
}

body {
  background: lightgrey;
}

.page {
  background: white;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  page-break-before: always;
  padding: $page_margin $page_margin $page_margin $page_margin;
  overflow: auto;
  position: relative;
}

.page.cover {
  padding-left: 0cm;
  padding-right: 0cm;
  page-break-before: avoid;
}

.page.cover > * {
  display: block;
}

@media print {
  body {
    background: white;
  }

  .page {
//    width: auto;
//    height: auto;
    box-shadow: none;
  }
}

img#cover {
  width: 100%;
  margin-top: auto;
}

#logos {
  width: 100%;
  padding-left: $page_margin;
  padding-right: $page_margin;
  direction: rtl;
  position: absolute;
  top: 26.7cm;
}

#logos img {
  width: 2cm;
  height: auto;
}

h1 {
  font-family: "Andada SC", serif;
  font-size: 44pt;
  text-align: center;
  text-transform: uppercase;
}

.cover h1 {
  color: red;
  font-size: 50pt;
  @include stroke(3, black);
  margin-top: 0em;
  margin-bottom: 0cm;
}
