* {
  box-sizing: border-box;
}

#cover {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

#cover header {
  padding: 2em;
}

.content {
  z-index: -10;
}

.content img {
  z-index: -5;
}

#cover img {
  width: 100%;
  margin-top: auto;
}

#logos {
  direction: rtl;
  position: absolute;
  top: 26.7cm;
  right: 1cm;
}

.content > .columns {
  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;

  -webkit-columns: 300px 2;
     -moz-columns: 300px 2;
          columns: 300px 2;
}

.content > .columns > :first-child {
  margin-top: 0;
}

.content {
  img {
    width: 19cm;
  }
}
