@import "fonts";

body {
  background: lightgrey;
}

.page {
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
  .page {
    box-shadow: none;
  }

  body {
    background: white;
  }
}

* {
  font-family: 'Alegreya', serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Andada SC", serif;
}

h2,
h3,
h4 {
  color: red;
  font-weight: bold;
  margin-bottom: 0.3em;
  border-bottom: 1px solid red;
}

h1 {
  font-size: 44pt;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 25pt;
}

p {
  margin-top: 0;
}

.page:after {
  font-size: small;
}

.page.cover {
  background-image: url("images/cover-art.png");
  background-color: transparent;
  background-size: cover;
}

.cover h1 {
  color: red;
  font-size: 50pt;
  margin-top: 0em;
  margin-bottom: 0cm;
}

.page.cover h1 .subject {
  font-size: 120pt;
  font-family: "Andada SC", serif;
  line-height: 0.8em;
}

.page.cover header {
  background-image: url("images/cover-splash.svg");
  background-size: cover;
  height: 100mm;
  -webkit-text-stroke: 2px black;
}

#logos img {
  width: auto;
  height: 2cm;
  margin-left: 0.5em;
}

.page.title {
  text-align: center;
  
  :first-child {
    margin-top: 1em;
  };
}

.page.title > footer {
  margin-top: 2em;
  text-align: left;
  font-size: small;
  font-variant: small-caps;
}

.page.title > p {
  font-size: 1.2em;
  margin-left: 2em;
  margin-right: 2em;
}

img[src*="seperator"] {
  width: 400px;
}

.page.title h1 {
  margin-bottom: 0.5em;
}

.page.title h2 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: black;
  font-weight: normal;
  font-style: italic;
  border-bottom: none;
}

.page.title img.logo {
  margin-top: 2em;
  margin-bottom: 2em;
}

.aside {
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: #EAEAEA;
  border-style: solid;
  border-width: 11px;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==) 11;
  border-image-outset: 9px 0;
}

.aside header {
  padding-bottom: 0.5em;
}

.aside h1, .aside h2, .aside h3, .aside h4 {
  margin-top: 0;
  color: black;
  border-bottom: none;
}

.aside *:last-child {
  margin-bottom: 0;
}

table {
  border-spacing: 0;
}

table tr:nth-child(even) {
  background-color: #EAEAEA;
}

section > table {
  margin-bottom: 2em;
}

section > table caption {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: bold;
  font-family: "Andada SC", serif;
}

section > table th, section > table td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  min-width: 1.5cm;
  vertical-align: text-top;
}

section > table th.text, td.text {
  text-align: left;
}

section > table th.number, td.number {
  text-align: center;
}
