@import "stroke";
@import "fonts";

body {
  background: lightgrey;
}

.page {
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
  .page {
    box-shadow: none;
  }

  body {
    background: white;
  }
}

#logos img {
  width: 2cm;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Andada SC", serif;
}

* {
  font-family: "TeX Gyre Bonum", serif;
}

h2,
h3,
h4 {
  color: red;
  font-weight: normal;
}

h1 {
  font-size: 44pt;
  text-align: center;
  text-transform: uppercase;
}

.cover h1 {
  color: red;
  font-size: 50pt;
  @include stroke(3, black);
  margin-top: 0em;
  margin-bottom: 0cm;
}

h2 {
  font-size: 25pt;
}