.content {
  font-size: 125%;
}

.content dl dt {
  float: left;
  clear: left;
  margin-left: 1rem;
  margin-right: 5px;
  font-weight: bold;
  font-style: italic;
}

.content dl dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

.content h1 + *,
.content h2 + *,
.content h3 + *,
.content h4 + *,
.content h5 + *,
.content h6 + *,
.content header + * {
  page-break-before: avoid;
}

section.content > section {
  page-break-after: always;
}