@page cover {
  background-color: black;
  background-size: cover;

  margin: 0px;
  padding: 0px;

  @bottom-center {
    content: none;
  }
}

section#cover {
  page: cover;
  background: black;
  color: white;
}

#cover #logos {
  direction: rtl;
  position: absolute;
  top: 26.7cm;
  right: 1cm;
}

#cover #logos img {
  width: auto;
  height: 2cm;
  margin-left: 0.5em;
}

#cover h1 {
  font-size: 3cm;
  text-align: center;
}
