.content h1 + p::after {
  color: white;
  background-color: red;
  margin: 0.5em;
  padding: 0.3em;
  content: " Beta version 0.29.1";
  border-radius: 2px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}
