.content h1 {
  font-family: 'Alegreya', serif;
  color: white;
  font-size: 72px;
}

.content h2 {
  font-family: 'Alegreya', serif;
  font-size: 48px;
  width: 100%;
  margin-top: 1.5em;
}

.content h3 {
  font-family: 'Alegreya', serif;
  font-size: 32px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.content h3 + * {
  margin-top: 0.5em;
}

.content h4 {
  font-family: 'Alegreya', serif;
  margin-bottom: 0.5em;
  font-style: italic;
  font-variant: small-caps;
}

.content h4 + * {
  margin-top: 0.5em;
}

.content header {
  margin-bottom: 0;
}

.content header h1,
.content header h2,
.content header h3,
.content header h4 {
  margin-bottom: 0;
}

.content header .subheading {
  font-family: 'Alegreya Sans SC', serif;
  margin-top: 0;
}

.content header h1 + p.subheading {
  margin-bottom: 3em;
}

.content header h2 + p.subheading {
  font-size: 0.8em;
}

.content header h3 + p.subheading {
  font-size: 0.7em;
}

.content header h4 + p.subheading {
  font-size: 0.7em;
}
