.content a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content a.anchor {
  font-style: normal;
}

.content a:hover {
  text-decoration: underline;
}

.content h1 a:hover,
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover {
  text-decoration: none;
}
