.search {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.search input {
  color: white;
  background-color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.search .matching-posts {
  color: white;
}
