main .sidebar {
  background-color: rgb(239, 239, 239);
  border-right: 1px solid white;
  z-index: 10;
}

.sidebar h1.app-name {
  font-family: "Alegreya", serif;
  font-weight: bold;
  color: black;
  font-size: 32pt;
}

.sidebar-nav {
  font-family: "Alegreya", serif;
  color: black;
}

.sidebar li {
  margin: 6px 0 6px 0;
}

.sidebar ul > li {
  color: black;
  font-variant-caps: normal;
  font-weight: bold;
}

.sidebar .sidebar-nav > ul > li {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-variant-caps: small-caps;
}

.sidebar ul li a {
  color: black;
  font-weight: normal;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-variant-caps: normal;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li ul {
  padding: 0;
}

.sidebar-nav > ul > li > a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-variant-caps: small-caps;
}

.sidebar ul li.active a {
  border-right: 2px solid;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.app-sub-sidebar li::before {
  content: "-";
  padding-right: 4px;
  float: left;
}

body.sticky .sidebar-toggle {
  top: 10px;
  right: 10px;
  left: auto;
}

.sidebar-toggle {
  width: auto;
  margin: 3em;
  padding: 1em;
  background-color: lightgray;
  border-radius: 50%;
  height: 50px;
  z-index: 5;
}

.sidebar-toggle-button {
  width: 24px;
  height: 24px;
}

.sidebar-toggle-button:before {
  font-family: "Font Awesome 6 Free";
  content: "\f0c9";
  font-size: 20px;
}

.sidebar-toggle:hover {
  background-color: white;
}

.sidebar-toggle span {
  display: none;
}

@media screen and (max-width: 630px) {
  body.close .content {
    transform: translateX(0rem);
  }

  body.close .sidebar-toggle {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 1s background-color;
    display: inline-block;
  }
}
