@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400italic,700italic,700);
@import '../_core.css';
@import '_headers.css';
@import '_sidebar.css';
@import '_search.css';
@import '_table.css';
@import '_links.css';
@import '_lists.css';
@import '_example-roll.css';
@import '_summaries.css';
@import '_spells.css';
@import '_content.css';
@import '_pagination.css';
@import '_beta.css';

* {
  --theme-color: white;
}

.content  {
  font-family: 'Alegreya', serif;
  line-height: 1.15;
  font-size: 20pt;
  color: rgb(237, 237, 237);
}

body {
  background-color: black;
}

.anchor span {
  color: white;
}

.anchor:hover {
  text-decoration: none;
}

.content strong {
  color: white;
}
